@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  color: inherit;
  font-family: inherit;
}

html,
body,
main {
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  color: #e5e5e5;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}